<div class="question">
  <h3>My Bookmarked Questions:</h3>
  {{noBookmark bookmarkQuestion.bookmarks}}
  {{#each bookmarkQuestion.bookmarks as |bookmark|}}
    {{#link-to 'question' bookmark.id}}{{bookmark.question}}{{/link-to}}<hr>
  {{/each}}
</div>
