<div class="question">
  <hr>
  <h3>My Bookmarked Questions:</h3>
  {{noBookmark bookmarkQuestion.bookmarks}}
  <br>
  {{#each bookmarkQuestion.bookmarks as |bookmark|}}
    <hr>
    {{#link-to 'question' bookmark.id}}{{bookmark.question}}{{/link-to}}
  {{/each}}
  <hr>
</div>
