{{#link-to 'question' question.id}}
  <div class="row">
    <div class="col-sm-12">
      <h4>{{question.question}}</h4>
      <p>{{question.author}}</p>
      <p>{{question.location}}</p>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
{{/link-to}}
