.answer-button {
  height: 125px;
  width: 125px;
  margin: 0px -70px;
  position:relative;
  top: 50%;
  left: 50%;
  background-color: #000d1a;
  color: white;
  font-size: 20px;
  top: -60px;
  border-radius: 200px;
}

.bookmark-button {
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0px -70px;
}

button {
  margin-left: 3%;
  margin-bottom: 1%;
  background-color: rgb(212,46,37);
  border: 1px solid rgb(212,46,37);
}

.floating-button {
  position: relative;
  top: -60px;
  left: 12px;
  margin: 0.5%;
}

.center {
  text-align: center;
}

hr {
  border-top: 1px solid black;
}

h1, h2, h3, h4, h5, label, .thyme, .answer-button {
  font-family: 'Metal Mania', cursive;
}

p, a, input, textarea, button {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: navy;
}

.page-header > a {
  color: white;
}

.answer-button:hover, a:hover, a:focus {
  color: rgb(212,46,37);
  text-decoration: none;
}

li {
  list-style: none;
}

.question-form {
  background-color: rgba(255, 250, 250, 0);
  padding: 3%;
  margin: 3%;
  position: relative;
}

.question {
  background-color: rgba(255, 250, 250, 0.9);
  padding: 3%;
  margin: 3%;
  position: relative;
  top: -60px;
}

.page-header {
  background-color: black;
  text-align: center;
  padding: 5%;
  border-bottom: none;
  position: relative;
  top: -60px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: black;

  /*background: url(https://images.unsplash.com/photo-1469173479606-ada03df615ac?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=70e6435426e4d119a4e9f84fd94d7a64) no-repeat left center fixed;;
  -webkit-background-size: cover;*/
  margin-bottom: 60px;
}
