.new-question-button {
  margin: 0px -90px;
  position:relative;
  top: 50%;
  left: 50%;
}

.answer-button {
  height: 125px;
  width: 125px;
  margin: 0px -70px;
  position:relative;
  top: 50%;
  left: 50%;
  background-color: #000d1a;
  color: white;
  font-size: 20px;
  border-radius: 200px;
}

.answer-button:hover {
  background-color: black;
}

.bookmark-button {
  float: right;
}

button {
  margin-left: 3%;
  margin-bottom: 1%;
  background-color: gray;
  color: white;
  border: 1px solid rgb(212,46,37);
}

button:hover {
  background-color: rgb(212,46,37);
  color: black;
}

.floating-button {
  margin: 3px;
  background-color: lightgray;
}

.center {
  text-align: center;
}

hr {
  border-top: 1px solid lightgray;
}

h1, h2, h3, h4, h5, label, .thyme, .answer-button {
  font-family: 'Metal Mania', cursive;
}

p, a, input, textarea, button {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: navy;
}

.page-header > a {
  color: white;
}

.answer-button:hover, a:hover, a:focus {
  color: rgb(212,46,37);
  text-decoration: none;
}

li {
  list-style: none;
}

.question-form {
  background-color: lightgray;
  border: solid 1px gray;
  padding: 3%;
  margin: 5%;
}

.question {
  background-color: ghostwhite;
  padding: 3%;
  margin: 3%;
  top: -30px;
}

.page-header {
  text-align: center;
  border-bottom: none;
  top: -60px;
}

.navbar {
  background-color: ghostwhite;
}

body {
  background: url(http://wallpapercave.com/wp/bLHpsGy.jpg) center center fixed no-repeat;
  -webkit-background-size: cover;
}
