<div class="question">
  <h4>Madame Spenser is well known in some parts of the world as the Curse of Sewer Rats. Humans are invited to ask a question of the Vampire Community. <br> Don't be shy! Be sure to indicate your location...</h4>
</div>
