<div class= "container">
  <div class="page-header">
    {{#link-to 'index'}}<h1>Questions and Answers<br><small>With Thyme Spenser
    Known in some parts of the world as:
    Curse of Sewer Rats
    Of this vampire the Great Archives record:
    Curious as a cat, merry and mad. </small></h1>{{/link-to}}
  </div>
    {{outlet}}
  <hr>
</div>
<footer class="footer">
  <div class="container footer-links">
    {{#link-to 'index'}}Home{{/link-to}}
  </div>
</footer>
