<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">{{#link-to 'index'}}<span class="thyme">Vampire Q&amp;A Home</span>{{/link-to}}</div>
      <div class="navbar-brand">{{#link-to 'bookmarks'}}<span class="thyme">Bookmarks</span>{{/link-to}}</div>
    </div>
  </div>
</nav><div class= "container">
<div class="page-header">
  {{#link-to 'index'}}<h1>Welcome to Vampire Q&amp;A<br><small>With Thyme Spenser</small></h1>{{/link-to}}
</div>
  {{outlet}}
</div>
