<div class= "container">
  <div class="page-header">
    {{#link-to 'index'}}<h1>Vampire Q&amp;A<br><small>With Thyme Spenser</small></h1>{{/link-to}}
  </div>
    {{outlet}}
</div>
<footer class="footer">
  <div class="container footer-links">
    {{#link-to 'index'}}Home{{/link-to}}
  </div>
</footer>
