<div class="question">
  <p><span class="thyme">Madame Spenser</span> is well known in some parts of the world as the <span class="thyme">Curse of Sewer Rats</span>. Humans are invited to ask a question of the <span class="thyme">Vampire Community</span>. Don't be shy! Be sure to indicate your location...</p>

  {{#each model as |question|}}
    <div class="individual-question">
      <hr>{{question-preview question=question}}
    </div>
  {{/each}}
</div>

{{new-question saveQuestion="saveQuestion"}}
